{% extends 'base.html' %} {% block content %}

<h2>Create a new listing!</h2>
<form method="post" action="/listings">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />
    </div>

    <div>
        <label for="state">State</label>
        <input id="state" name="state" type="state" />
    </div>

    <div>
        <label for="suburb">Suburb</label>
        <input id="suburb" name="suburb" type="suburb" />
    </div>

    <div>
        <label for="image_url">Image Url</label>
        <input id="image_url" name="image_url" />
    </div>

    <div>
        <label for="website">Website</label>
        <input id="website" name="website" />
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock content %}
