{% extends 'base.html' %}
{% block content %}
{% if session.get('user_id') == listing['user_id'] %}
<form method="post" action="/listings/{{ listing['id'] }}">
    <h2>Edit listing</h2>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{listing['name']}}" />
    </div>

    <div>
        <label for="state">State</label>
        <input id="state" name="state" type="text" value="{{listing['state']}}" />
    </div>

    <div>
        <label for="suburb">Suburb</label>
        <input id="suburb" name="suburb" type="text" value="{{listing['suburb']}}" />
    </div>
    
    <div>
        <label for="image_url">Image URL</label>
        <input id="image_url" name="image_url" value="{{listing['image_url']}}"></textarea>
    </div>

    <div>
        <label for="contact_url">Website</label>
        <input id="contact_url" name="contact_url" value="{{listing['website']}}"></textarea>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description">{{listing['description']}}</textarea>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

    <form action="/listings/{{listing['id']}}/delete" method="POST">
        <button type="submit">
            Delete
        </button>
    </form>
{% else %}
<h2> Oops! You can't edit this page as you're not the original creator of this listing.</h2>
{% endif %}

{% endblock content %}