{% extends 'base.html' %} {% block content %}

<div class="listing-item">
    <div class="info">
        <h2>{{ listing['name'] }}</h2>
        {% if session.get('user_id') %}
        <a href="/listings/{{listing['id']}}/edit">Edit</a>
        {% endif %}
    </div>
    <img
        src="{{listing['image_url']}}"
        alt="{{listing['description']}}"
        width="300"
        height="150"
    />
    <div class="state-suburb">
        <h3>
            {{listing['name']}} is located in {{listing['suburb']}}, {{
            listing['state']}}
        </h3>
    </div>
    <div class="description">
        <h3>Visit them for:</h3>
        <p>{{listing['description']}}</p>
    </div>
    <div class="website">
        <a href="https://{{ listing['website']}}">Visit their website</a>
    </div>
</div>
<form method="post" action="/listings">
    <div class="review-item">
        <h2>{{ listing['name'] }} Reviews</h2>
        <p>A test review is here</p>
        <br />
        <div class="review-input">
            <label for="review-input">Share your review:</label><br />
            <textarea id="review-input" name="review-input"></textarea>
        </div>
        <div>
            <button type="submit">Submit review</button>
        </div>
    </div>
</form>

{% endblock content %}
