{% extends 'base.html' %} {% block content %}

<div class="show-listing-item">
    <div class="info">
        <h2>{{ listing['name'] }}</h2>
        {% if session.get('user_id') %}
        <a href="/listings/{{listing['id']}}/edit">Edit</a>
        {% endif %}
    </div>
    <img
        src="{{listing['image_url']}}"
        alt="{{listing['description']}}"
        width="300"
        height="150"
    />
    <div class="state-suburb">
        <h3>
            {{listing['name']}} is located in {{listing['suburb']}}, {{
            listing['state']}}
        </h3>
    </div>
    <div class="description">
        <h3>Visit them for:</h3>
        <p>{{listing['description']}}</p>
    </div>
    <div class="website">
        <a href="https://{{ listing['website']}}">Visit their website</a>
    </div>
    <div class="add-review">
        <a href="/listings/{{listing['id']}}/reviews/create">Add review</a>
    </div>
    <div class="view-reviews">
        <a href="/listings/{{listing['id']}}/reviews">View reviews</a>
    </div>
</div>

{% endblock content %}
